@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gray-custom {
  background-color: #F3F5F9;
}

.custom-label-color {
  font-weight: 600;
  color: #7682A0;
}

.custom-green {
  border-color: #3EBF5B;
}